@font-face {
  font-family: "Montserrat-Thin";
  src: url(../fonts/montserrat/static/Montserrat-Thin.ttf);
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url(../fonts/montserrat/static/Montserrat-Medium.ttf);
}

body {
  max-width: 100%;
  margin: 0;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9rem;
  font-weight: bold;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  font-family: "Montserrat-Medium", sans-serif;
  text-transform: uppercase;
  width: 60%;
}

nav li {
  padding: 25px 0px 30px 0px;
  border-top: 5px solid white;
}

nav li:hover {
  cursor: pointer;
  border-top: 5px solid #881a88;
  color: #881a88;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#language {
  border: 0px;
  background-color: rgba(128, 128, 128, 0.25);
  border-radius: 30px;
  padding: 8px 16px;
  margin-top: 5px;
  color: black;
  cursor: pointer;
}

header {
  background: url(../assets/img/bg.jpg) fixed center/cover;
  background-position-y: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 670px;
  width: 100%;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header #logo {
  height: 300px;
}

.main-header img {
  height: 300px;
}

.main-header h1 {
  color: white;
  font-family: "Montserrat-Medium", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 30px 0px;
}

.main-header button {
  height: 60px;
  width: 420px;
  padding: 20px 0px;
  font-size: 1rem;
  letter-spacing: 2px;
  border: 1px solid white;
  background: none;
  color: white;
  text-transform: uppercase;
  font-family: "Montserrat-Medium", sans-serif;
}

.main-header button:hover {
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  height: 150px;
  width: 70%;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
}

.header-text p {
  width: 100%;
}

/************************ ICON PART********************************/
.icon-part {
  background: #141414;
  color: white;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-part .icon-part-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65%;
}

.icon-part .list-icon-part {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  width: 30%;
  height: 380px;
}

.icon-part .list-icon-part h3 {
  text-transform: uppercase;
  font-size: 1rem;
  margin: 15px 0px;
}

.icon-part .list-icon-part p {
  font-size: 1.1rem;
  text-align: center;
  width: 85%;
  height: 70px;
  margin: 0 auto;
}

.icon-part .list-icon-part button {
  border: 1px solid white;
  background: none;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Montserrat-Medium", sans-serif;
  margin-top: 30px;
  width: 200px;
  padding: 10px;
}

.icon-part .list-icon-part button:hover {
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

/************************ NEWS PART********************************/
.news-part {
  background: #f7f7f7;
  height: 900px;
}

.header-news {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  height: 200px;
  width: 65%;
}

.header-news h2 {
  font-family: "Montserrat-Thin", sans-serif;
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: 2px;
  margin: 0;
}

.header-news p {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 10px 0px;
}

.header-news button {
  border: 1px solid white;
  background: none;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Montserrat-Medium", sans-serif;
  margin-top: 30px;
  width: 200px;
  padding: 10px;
  color: black;
  border: 1px solid black;
  margin: 0;
  font-weight: bold;
}

.header-news button:hover {
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.main-news-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  height: 500px;
  width: 65%;
}

.main-news-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 600px;
  width: 27%;
  font-family: "Montserrat-Medium", sans-serif;
  font-weight: bold;
  line-height: 150%;
}

.main-news-container div h4 {
  width: 85%;
  font-size: 1.1rem;
  margin: 20px 0px;
}

.main-news-container div p {
  width: 85%;
  margin: 0px;
}

.main-news-container div a {
  text-decoration: none;
  color: #881a88;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  width: 250%;
}

.main-news-container div ahover {
  cursor: pointer;
}

.main-news-container .mn-pic {
  -webkit-box-shadow: 0px 0px 17px 2px rgba(0, 0, 0, 0.28);
          box-shadow: 0px 0px 17px 2px rgba(0, 0, 0, 0.28);
  padding: 0;
  border-radius: 5px;
  height: 142%;
  width: 85%;
}

.main-news-container .mn-pic img {
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

/************************ CONTACTS  ********************************/
.contact-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  height: 500px;
  width: 65%;
}

.contact-list:after {
  position: absolute;
  content: "";
  display: block;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 65%;
  border-bottom: 1px solid #bdbdbd;
}

.contact-list .list {
  margin: 100px 0;
  height: 300px;
  width: 250px;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Montserrat-Medium", sans-serif;
}

.contact-list .list h3 {
  text-transform: uppercase;
  font-weight: bold;
}

.contact-list .list p {
  margin: 5px 0px;
  line-height: 150%;
}

.contact-list .list ul {
  list-style: none;
  padding: 0;
}

.contact-list .list a {
  text-decoration: none;
  color: #881a88;
  line-height: 280%;
}

.contact-list .list img {
  height: 300px;
}

.contact-medias {
  margin: 50px auto;
  width: 65%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 27% 73%;
      grid-template-columns: 27% 73%;
  font-family: "Montserrat-Medium", sans-serif;
  font-weight: bold;
}

.contact-medias h3 {
  text-transform: uppercase;
  font-size: 1.1rem;
}

.contact-medias .medias-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  background: black;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer h3 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: "Montserrat-Thin", sans-serif;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 60%;
  padding: 0;
}
/*# sourceMappingURL=style.css.map */