body {
  max-width: 100%;
  margin: 0;
}
nav {
  ul {
    @include center-list;
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: $font-secondary;
    text-transform: uppercase;
    width: 60%;
  }

  li {
    padding: 25px 0px 30px 0px;
    border-top: 5px solid $color1;

    &:hover {
      cursor: pointer;
      border-top: 5px solid $color3;
      color: $color3;
      transition: 0.2s;
    }
  }
}

#language {
  border: 0px;
  background-color: rgba(128, 128, 128, 0.25);
  border-radius: 30px;
  padding: 8px 16px;
  margin-top: 5px;
  color: $color2;
  cursor: pointer;
}
