/************************ ICON PART********************************/

.icon-part {
  background: rgb(20, 20, 20);
  color: $color1;
  height: 550px;
  @include center;

  .icon-part-container {
    @include center-list;
    width: 65%;
  }

  .list-icon-part {
    display: grid;
    justify-items: center;
    width: 30%;
    height: 380px;

    h3 {
      text-transform: uppercase;
      font-size: 1rem;
      margin: 15px 0px;
    }

    p {
      font-size: 1.1rem;
      text-align: center;
      width: 85%;
      height: 70px;
      margin: 0 auto;
    }

    button {
      @include button2;

      &:hover {
        @include hover;
      }
    }
  }
}

/************************ NEWS PART********************************/

.news-part {
  background: rgb(247, 247, 247);
  height: 900px;
}
.header-news {
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;
  margin: 0 auto;
  height: 200px;
  width: 65%;

  h2 {
    font-family: $font-main;
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 2px;
    margin: 0;
  }

  p {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 10px 0px;
  }

  button {
    @include button2;
    color: black;
    border: 1px solid black;
    margin: 0;
    font-weight: bold;

    &:hover {
      @include hover;
    }
  }
}

.main-news-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 500px;
  width: 65%;

  div {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 600px;
    width: 27%;
    font-family: $font-secondary;
    font-weight: bold;
    line-height: 150%;

    h4 {
      width: 85%;
      font-size: 1.1rem;
      margin: 20px 0px;
    }
    p {
      width: 85%;
      margin: 0px;
    }

    a {
      text-decoration: none;
      color: $color3;
      font-size: 1rem;
      letter-spacing: 2px;
      font-weight: bold;
      text-transform: uppercase;
      width: 250%;

      &hover {
        cursor: pointer;
      }
    }
  }

  .mn-pic {
    box-shadow: 0px 0px 17px 2px rgba(0, 0, 0, 0.28);
    padding: 0;
    border-radius: 5px;
    height: 142%;
    width: 85%;

    img {
      border-radius: 5px;
      height: 100%;
      width: 100%;
    }
  }
}

/************************ CONTACTS  ********************************/

.contact-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 500px;
  width: 65%;

  &:after {
    position: absolute;
    content: "";
    display: block;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    border-bottom: 1px solid rgb(189, 189, 189);
  }

  .list {
    margin: 100px 0;
    height: 300px;
    width: 250px;
    font-size: 1rem;
    font-weight: bold;
    font-family: $font-secondary;

    h3 {
      text-transform: uppercase;
      font-weight: bold;
    }

    p {
      margin: 5px 0px;
      line-height: 150%;
    }

    ul {
      list-style: none;
      padding: 0;
    }

    a {
      text-decoration: none;
      color: $color3;
      line-height: 280%;
    }

    img {
      height: 300px;
    }
  }
}

.contact-medias {
  margin: 50px auto;
  width: 65%;
  display: grid;
  grid-template-columns: 27% 73%;
  font-family: $font-secondary;
  font-weight: bold;

  h3 {
    text-transform: uppercase;
    font-size: 1.1rem;
  }

  .medias-logos {
    @include center-list;
  }
}
