$color1: white;
$color2: black;
$color3: rgb(136, 26, 136);

@font-face {
  font-family: "Montserrat-Thin";
  src: url(../fonts/montserrat/static/Montserrat-Thin.ttf);
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url(../fonts/montserrat/static/Montserrat-Medium.ttf);
}

$font-main: "Montserrat-Thin", sans-serif;
$font-secondary: "Montserrat-Medium", sans-serif;

@mixin center-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button {
  border: 1px solid $color1;
  background: none;
  color: $color1;
  text-transform: uppercase;
  font-family: $font-secondary;
}

@mixin button2 {
  border: 1px solid $color1;
  background: none;
  color: $color1;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: $font-secondary;
  margin-top: 30px;
  width: 200px;
  padding: 10px;
}

@mixin hover {
  background: rgba($color: $color1, $alpha: 0.5);
  cursor: pointer;
}
